@font-face {
	font-family: 'Lyon Arabic Slanted Text Web';
	src: url('LyonArabicSlantedText-RegularNo2-Web.woff2') format('woff2'),
		 url('LyonArabicSlantedText-RegularNo2-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	}

.LyonArabicSlantedText-RegularNo2-Web {
	font-family: 'Lyon Arabic Slanted Text Web';
	font-weight: 500;
	font-style: normal;
	}
