@import 'fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.alignwide {
	@apply max-w-[1100px] mx-auto;
}

p {
	@apply text-lg;
}

p a {
	@apply border-dotted border-b-blue border-b hover:text-blue;
}
