@font-face {
    font-family: 'Boogy Brut Poster';
    src: url('/fonts/Boogy_Brut_Poster_WEB-Black.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Manchette Fine';
    src: url('/fonts/ManchetteFine-Heavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Martina Plantijn';
    src: url('/fonts/martina-plantijn-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Martina Plantijn';
    src: url('/fonts/martina-plantijn-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Martina Plantijn';
    src: url('/fonts/martina-plantijn-bild.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Lyon Arabic Slanted Text Web';
    src: url('/fonts/LyonArabicSlantedText-RegularNo2-Web.woff2') format('woff2'),
       url('/fonts/LyonArabicSlantedText-RegularNo2-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }
  
  @font-face {
    font-family: 'Lyon Arabic Text Web';
    src: url('/fonts/LyonArabicText-RegularNo2-Web.woff2') format('woff2'),
       url('/fonts/LyonArabicText-RegularNo2-Web.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    }

  
  